# Backend settings
DATABASE_URL=postgresql+psycopg://postgres:Nikaf4532j@db:5432/ua_law_llm

# Gemini API
GEMINI_API_KEY=AIzaSyBiVWyr24KrEl1YHToLTf6E7Ov-bNG0Tic
GEMINI_MODEL=gemini-3.0-flash
GEMINI_EMBEDDING_MODEL=gemini-embedding-001

# Source of Ukrainian laws (ZIP with metadata and full texts)
LAWS_SOURCE_URL=https://data.gov.ua/dataset/c98e830c-e39e-4da6-a13c-f9ba32a79bec/resource/5616dd04-949a-489c-8efc-54004293b238/download

# Telegram bot
TELEGRAM_BOT_TOKEN=8659581126:AAFfNkSpXetnT7CmdbI_8jYOjqYJZTHUL3w
BACKEND_BASE_URL=http://backend:8000

